{% extends 'blog/base.html' %}

{% block main_area %}
<!-- 끼워 넣을 내용 -->

<table class="table table-hover table-light table-sm table-responsive">
    <thead class="thead-secondary">
        <tr>
            <th scope="col"></th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
    </thead>
    <tbody>
        {% for board in board_list %}
        <tr>
            <th scope="row">{{ board.pk }}</th>
            <!-- 클릭하면 이동하도록 설정 -->
            <td><a href="{{ board.get_absolute_url }}">{{ board.title }}</a></td>
            <td>{{ board.author }}</td>
            <td>{{ board.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<hr />

<!-- 로그인해야 글쓰기 버튼이 보이도록 -->
{% if request.user.is_authenticated %}
<a href="/board/create/" type="button" class="btn btn-dark float-right">글쓰기</a>
{% else %}
<!-- 로그아웃 상태라면 로그인 하도록 -->
<a type="button" class="btn btn-secondary float-right" href="#" data-toggle="modal" data-target="#loginModal">글쓰기</a>
{% endif %}




{% endblock %}